.table-ind {
    background-color: #f8bd01;
    height: 160px;
    border: 2px;
    place-items: center;
    place-content: unset;
    display: flex;
}

.img {
    height: 150;
    width: max-content;
    place-content: initial;
}

.table-ind2 {
    background-color: #f6f6f6;
    height: 600px;
    border: 2px;
    place-items: center;
    place-content: center;
    display: flex;
}

.img2 {
    height: 100px;
    width: 100px;
    place-content: center;
}

.colorcontainer {
    border: 1px solid #f8bd01;
}

.table-ind3 {
    background-color: #f8bd01;
    height: 50px;
    border: 2px;
    place-items: center;
    place-content: center;
    display: flex;
}

.table-ind4 {
    background-color: #f6f6f6;
    height: 600px;
    border: 2px;
    place-items: center;
    place-content: initial;
    display: flex;
}
